    body {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: white;
    }

    .question {
      height: 100vh;
      background-color: white;
      border-radius: 5px;
      width: 40%;
      margin: 0 auto;
    }

    .question-medium {
      display: inline-block;
      padding: 50px 0;
      width: 100%;
      border: 5px solid #211973;
      border-radius: 10px;
      margin-bottom: 100px;
      text-align: center;
    }

    .answer-buttons {
      /* background-color: rgb(241, 241, 241); */
      display: grid;
      border-radius: 10px;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100px 100px;
    }

    .answer-button {
      /* color: white; */
      background-color: white;
      border: 3px #211973 solid;
      border-radius: 10px;
      margin: 10px;
      transition: ease 0.5s;
    }

    .answer-button:hover {
      border: 3px #ff7a00 solid;
    }

    .choose-category {
      width: 30vw;
      margin: 0 auto;
      display: block;
    }
    button {
      background-color: white;
      border-radius: 10px;
      padding: 30px;
      border: 3px #211973 solid;
      margin: 10px 0;
      transition: ease 0.5s;
    }
    button:hover {
      border: 3px #ff7a00 solid;
    }
    
    .choose-category button {
      width: 30vw;
    }