    body {
      background-color: #211973;
    }
    #root {
      margin: 30px auto;
      padding: 10px;
      width: 40vw;
      font-size: 1.2em;
      font-family: 'Liberation Sans', 'Open Sans' ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: white;
      border-radius: 20px;
    }

    .question {
      background-color: white;
      margin: 0 auto;
    }

    .question-medium {
      display: block;
      padding: 50px 0;
      border: 5px solid #211973;
      border-radius: 10px;
      margin-bottom: 100px;
      /* text-align: center; */
    }

    .answer-buttons {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100px 100px;
    }

    .answer-button {
      background-color: white;
      border: 3px #211973 solid;
      border-radius: 10px;
      margin: 10px;
      transition: ease 0.5s;
    }

    .answer-button:hover {
      border: 3px #ff7a00 solid;
    }

    .choose-category button {
      width: 100%;
      margin: 20px auto;
    }
    button {
      background-color: white;
      border-radius: 10px;
      padding: 30px;
      border: 3px #211973 solid;
      margin: 10px 0;
      transition: ease 0.5s;
    }
    button:hover {
      border: 3px #ff7a00 solid;
    }
  