    body {
      margin: 0;
      padding: 0;
      background-color: #211973;
    }
    #root {
      margin: 80px 0;
      padding: 0;
      width: 100vw;
      font-size: 1.2em;
      font-family: 'Montserrat' ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      /* background-color: white; */
      color: white;
    }
    .nav {
      text-align: justify;
      display: inline;
      padding: 20px;
      position: fixed;
      width: 100vw;
      top: 0;
      left: 0;
      background-color: #ff7a00;
      color: white;
    }
    .nav > span {
      margin: 10px;
    }
    a {
      color: white;
    }
    a:visited {
      color: white;
    }
  .correct {
    background-color: greenyellow !important;
  }
  .incorrect {
    color: white;
    background-color: red !important;
  }
    .question {
      /* background-color: white; */
      margin: 0 auto;
    }

    .question-medium {
      display: block;
      padding: 50px 0;
      /* border: 5px solid #211973; */
      border-radius: 10px;
      margin: 100px 0;
      /* text-align: center; */
    }

    .answer-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      grid-template-rows: 100px 100px;
    }

    .answer-button {
      background-color: white;
      border: none;
      /* border-radius: 10px; */
      margin: 0;
      transition: ease 0.5s;
    }

    .answer-button:hover {
      /* border: 3px #ff7a00 solid; */
    }

    .choose-category button {
      width: 100%;
      margin: 20px 0;
    }
    button {
      font-size: 1rem;
      background-color: white;
      /* border-radius: 10px; */
      padding: 30px;
      border: none;
      margin: 0;
      transition: ease 0.5s;
      width: 100%;
    }
    button:hover {
      color: white;
      background-color: #ff7a00;
      border: none;
    }
  